# C++ compiled files
*.o
*.so
*.dll

# data
gremlin-subgraphs/lc.gz.tif
gremlin-subgraphs/lc.tif
gremlin-subgraphs2/lc.gz.tif
gremlin-subgraphs2/lc.tif

# rsconnet
*rsconnect*

# R profile files
*.Rproj.user
*.Rhistory

# log files
gurobi.log

# system files
.directory

# cache
*.png
*.webm

# do not ignore the following files
!.gitkeep
